<h1>This is the delete page</h1>

<div class='panel panel-default'>
	<div class='panel-heading'>
		<h1>Edit the section</h1>
	</div>
	<div class='panel-body'>
		<%= form_for @section, url: {action: 'destroy', id: @section.id, page_id: @page.id} do |f|%>
		<%= render partial: 'form', locals: {f: f} %>
		<div>
			<%= f.submit "Delete the Section", class: 'btn btn-danger' %> 
		</div>
	</div>
	<% end %> 
</div>

