<% @page_title = "Edit Admin Users" %>
<h1>AdminUsers</h1> 

<%= form_for @admin_user, url: { action: 'update', id: @admin_user.id} do |f| %> 
<%= render partial: 'form', locals: {f: f} %>
<%= f.button 'Edit User Settings', class: 'btn btn-success' %> 
<% end %>